### Завдання 4: 

Зареєструйтеся на сайті  http://www.sql-ex.ru/

Виконайте завдання із блоку SELECT; з 1 по 30 завдання

Код запитів вставляйте сюди

Схема БД складається з чотирьох таблиць:

**Product**    (`maker`, `model`, `type`)  <br>
**PC**    (`code`, `model`, `speed`, `ram`, `hd`, `cd`, `price`)  <br>
**Laptop**    (`code`, `model`, `speed`, `ram`, `hd`, `price`, `screen`)  <br>
**Printer**    (`code`, `model`, `color`, `type`, `price`)  <br>

Таблиця **Product** представляє виробника (`maker`), номер моделі (`model`) та тип (**PC** - ПК, **Laptop** - ноутбук або **Printer** - принтер). Передбачається, що номери моделей у таблиці **Product** є унікальними для всіх виробників і типів продуктів.  

  У таблиці **PC** кожного ПК, однозначно визначається унікальним кодом – `code`, вказано модель – `model` (_зовнішній ключ_ до таблиці **Product**), швидкість - `speed` (процесора в мегагерцах), обсяг пам'яті - `ram` (у мегабайтах), розмір диска - `hd` (в гігабайтах), швидкість зчитувального пристрою - `cd` (наприклад, '4x') та ціна - `price` (у доларах).  

  Таблиця **Laptop** аналогічна таблиці **РС** крім того, що замість швидкості CD містить розмір екрана -`screen` (в дюймах).  

  У таблиці **Printer** для кожної моделі принтера вказується, чи він кольоровий - `color` ('y', якщо кольоровий), тип принтера - `type` (лазерний - 'Laser', струменевий - 'Jet' або матричний - 'Matrix') і ціна - `price`.
  
  ## Порядок ВИКОНАННЯ SQL запиту
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```
![image.png](attachment:image.png)

##### 1 Знайдіть номер моделі, швидкість та розмір жорсткого диска для всіх ПК вартістю менше 500 дол. Вивести: model, speed та hd
```MySQL
SELECT model, speed, hd
FROM PC
WHERE price < 500
```

##### 2 Знайдіть виробників принтерів. Вивести: maker
```MySQL
SELECT DISTINCT maker
FROM Product
WHERE type='Printer'
```

##### 3 Знайдіть номер моделі, обсяг пам'яті та розміри екранів ПК-блокнотів, ціна яких перевищує 1000 дол.
```MySQL
SELECT model, ram, screen
FROM Laptop
WHERE price > 1000

```

#####  4 Знайдіть усі записи таблиці Printer для кольорових принтерів.
```MySQL
SELECT *
FROM Printer
WHERE color='y'

```

##### 5 Знайдіть номер моделі, швидкість та розмір жорсткого диска ПК, що мають 12x або 24x CD та ціну менше 600 дол.
```MySQL
SELECT model, speed, hd
FROM PC
WHERE (cd in ('12x','24x')) and (price < 600)

```

##### 6 Для кожного виробника, що випускає ноутбуки з об'ємом жорсткого диска щонайменше 10 Гбайт, знайти швидкості таких ноутбуків. Вивести: виробника, швидкість.
```MySQL
SELECT DISTINCT maker, speed
FROM Product JOIN Laptop ON Laptop.model = Product.model
WHERE (hd >=10)

```

```MySQL
SELECT DISTINCT Product.maker, Laptop.speed
FROM Product, Laptop 
WHERE Product.model = Laptop.model 
 AND Laptop.hd >= 10
```

#####  7 Знайдіть номери моделей та ціни всіх наявних у продажу продуктів (будь-якого типу) виробника B (латинська літера).
[link на пояcнення](http://www.sql-tutorial.ru/ru/book_sql_tips_and_solutions_7.html)
# НЕ проходить перевірку
```MySQL
SELECT DISTINCT Product.model, 
 ISNULL(PC.price, 0)+ISNULL(Laptop.price, 0)+ISNULL(Printer.price, 0) AS price
FROM (((Product LEFT JOIN  PC ON Product.model = PC.model) LEFT JOIN 
 Laptop ON Product.model = Laptop.model) LEFT JOIN 
 Printer ON Product.model = Printer.model)
WHERE Product.maker = 'B'

```

##### 
```MySQL
SELECT DISTINCT Product.model, COALESCE(PC.price, Laptop.price, Printer.price, 0) AS price
FROM (
((Product LEFT JOIN  PC ON Product.model = PC.model) LEFT JOIN 
                 Laptop ON Product.model = Laptop.model) LEFT JOIN 
                Printer ON Product.model = Printer.model)
WHERE Product.maker = 'B'

```

##### 8 Знайдіть виробника, що випускає ПК, але не ноутбуки.
```MySQL
SELECT DISTINCT maker
FROM Product
WHERE type = 'PC' AND 
      maker NOT IN (SELECT maker 
                    FROM Product 
                    WHERE type = 'Laptop')

```

#####  9 Знайдіть виробників ПК із процесором не менше 450 МГц. Вивести: Maker
# не проходить 2й тест
```MySQL
SELECT DISTINCT maker
FROM Product INNER JOIN PC ON Product.model = PC.model
WHERE speed > 450 AND type='PC'

```

##### 10 Знайдіть моделі принтерів, що мають найвищу ціну. Вивести: model, price
```MySQL
SELECT model, price
FROM Printer
WHERE price = (SELECT MAX(price) FROM Printer)

```

##### 11 Знайдіть середню швидкість ПК.
```MySQL
SELECT AVG(speed) as Avg_speed
FROM PC
```

##### 12 Знайдіть середню швидкість ноутбуків, ціна яких перевищує 1000 дол.
```MySQL
SELECT AVG(speed) AS Avg_speed  
FROM Laptop 
WHERE price > 1000

```

##### 13 Найдите среднюю скорость ПК, выпущенных производителем A.
```MySQL
SELECT AVG(speed) AS Avg_speed
FROM Product JOIN PC ON Product.model=PC.model
WHERE maker = 'A'
```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

#### Розглядається БД кораблів, які брали участь у Другій світовій війні. 

Є такі відносини:  
**Classes** (`class`, `type`, `country`, `numGuns`, `bore`, `displacement`)<br>
**Ships** (`name`, `class`, `launched`)<br>
**Battles** (`name`, `date`)<br>
**Outcomes** (`ship`, `battle`, `result`)<br>
Кораблі в «класах» побудовані по тому самому проекту, і класу присвоюється або ім'я першого корабля, побудованого за цим проектом, або назві класу дається ім'я проекту, яке не збігається з жодним з кораблів у БД. Корабель, що дав назву класу, називається головним.

Відношення **Classes** містить ім'я класу, тип ('bb' для бойового (лінійного) корабля або 'bc' для бойового крейсера), країну, в якій побудований корабель, кількість головних знарядь, калібр гармат (діаметр стовбура гармати в дюймах) та водотоннажність (вага в тоннах). 

Щодо **Ships** записані назву корабля, ім'я його класу та рік спуску на воду. 

У відношенні **Battles** включені назва та дата битви, в якій брали участь кораблі, 

а щодо **Outcomes** – результат участі даного корабля у битві (потоплений-'sunk', пошкоджений – 'damaged' або неушкоджений – 'OK').
>Зауваження. 
>1) У відношенні Outcomes можуть входити кораблі, які відсутні щодо Ships.   
>2) Потоплений корабель у наступних битвах участі не бере.

#####  14 Знайдіть клас, ім'я та країну для кораблів із таблиці Ships, що мають не менше 10 гармат.
```MySQL
SELECT Ships.class, name, country
FROM Ships JOIN Classes ON Ships.class = Classes.class
WHERE numGuns>=10;
```

##### 15 Знайдіть розміри жорстких дисків, що збігаються у двох і більше ПК. Вивести: HD
```MySQL
SELECT hd 
FROM PC 
GROUP BY hd 
HAVING COUNT(hd)>=2
```

##### 16 Знайдіть пару моделей PC, що мають однакову швидкість і RAM. У результаті кожна пара вказується лише один раз, тобто (i,j), але не (j,i), порядок виведення: модель з більшим номером, модель з меншим номером, швидкість та RAM.
# СПИСАВ РІШЕННЯ [solve](http://www.sql-tutorial.ru/ru/book_sql_tips_and_solutions_16.html)
```MySQL
SELECT MAX(model1), MIN(model2), MAX(speed), MAX(ram) 
FROM (SELECT pc1.model AS model1, pc2.model AS model2, pc1.speed, pc2.ram, 
             CASE WHEN CAST(pc1.model AS NUMERIC(6,2)) > 
                       CAST(pc2.model AS NUMERIC(6,2)) 
                  THEN pc1.model+pc2.model  
                  ELSE pc2.model+pc1.model  
             END AS sm 
      FROM PC pc1, PC pc2 
      WHERE pc1.speed = pc2.speed AND 
            pc1.ram = pc2.ram AND 
            pc1.model <> pc2.model
      ) a 
GROUP BY a.sm
```

##### 17 Знайдіть моделі ноутбуків, швидкість яких менша за швидкість кожного з ПК. Вивести: type, model, speed
```MySQL
SELECT DISTINCT type, Laptop.model, speed
FROM Laptop, Product
WHERE Product.model = Laptop.model AND
      Laptop.speed < (SELECT MIN(speed) FROM PC)
```

##### 18 Знайдіть виробників найдешевших кольорових принтерів. Вивести: maker, price
# не проходить 2й тест
http://www.sql-tutorial.ru/ru/book_sql_tips_and_solutions_18.html
```MySQL
select maker, price
from printer, product
WHERE product.model = printer.model and price = (select min(price) from printer where color='y') and color='y'
```

##### 19 Для кожного виробника, що має моделі в таблиці Laptop, знайдіть середній розмір екрану ноутбуків, що випускаються ним.
Вивести: maker, середній розмір екрану.
```MySQL
SELECT maker, avg(screen)
FROM laptop, product
WHERE laptop.model=product.model
GROUP BY maker
```

##### 
```MySQL


```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

#####  20 Знайдіть виробників, що випускають щонайменше три різні моделі ПК. Вивести: Maker, кількість моделей ПК.
```MySQL
SELECT maker, count(model) as Count_Model
FROM Product
WHERE type='PC'
GROUP BY maker
HAVING count(model)>=3
```

##### 21 Знайдіть максимальну ціну ПК, що випускаються кожним виробником, який має моделі в таблиці PC.
Вивести: maker, максимальна ціна.
```MySQL
SELECT maker, max(price)
FROM Product, PC
WHERE type='PC' and PC.model=Product.model
GROUP BY maker
```

#####  22 Для кожного значення швидкості ПК, що перевищує 600 МГц, визначте середню ціну ПК із такою самою швидкістю. Вивести: speed, середня ціна.
```MySQL
SELECT speed, AVG(price)
FROM PC
WHERE speed > 600
GROUP BY speed
```

FROM (
((Product LEFT JOIN  PC ON Product.model = PC.model) LEFT JOIN 
                 Laptop ON Product.model = Laptop.model) LEFT JOIN 
                Printer ON Product.model = Printer.model)#####  23 Знайдіть виробників, які виробляли б як ПК зі швидкістю щонайменше 750 МГц, і ноутбуки зі швидкістю щонайменше 750 МГц.
Вивести: Maker
http://www.sql-tutorial.ru/ru/book_sql_tips_and_solutions_23.html
```MySQL
SELECT maker
FROM (
((Product LEFT JOIN  PC ON Product.model = PC.model) LEFT JOIN 
                 Laptop ON Product.model = Laptop.model) LEFT JOIN 
                Printer ON Product.model = Printer.model)
WHERE PC.speed>=750 and Laptop.speed >=750

```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

##### 23 Знайдіть виробників, які виробляли б як ПК зі швидкістю щонайменше 750 МГц, і ноутбуки зі швидкістю щонайменше 750 МГц.
Вивести: Maker
# Не виходить
```MySQL
SELECT maker, MAX(COALESCE(PC.speed, 0)) AS PC_speed, 
                    MAX(COALESCE(Laptop.speed, 0)) AS Laptop_speed
      FROM ((Product LEFT JOIN  PC ON Product.model = PC.model) LEFT JOIN 
                 Laptop ON Product.model = Laptop.model)
GROUP BY maker


```

##### 24 Перерахуйте номери моделей будь-яких типів, що мають найвищу ціну по всій наявній у базі даних продукції.
```MySQL
WITH pivot_table AS (SELECT model, price
                     FROM (SELECT product.model as model, ISNULL(PC.price, 0)+ISNULL(Laptop.price,
                                                             0)+ISNULL(Printer.price, 0) AS price
                           FROM (((Product LEFT JOIN PC ON Product.model = PC.model) LEFT JOIN 
                                     Laptop ON Product.model = Laptop.model) LEFT JOIN 
                                     Printer ON Product.model = Printer.model)) as tables)
SELECT model
FROM pivot_table
WHERE price = (SELECT MAX(price) FROM pivot_table)
```

##### 25 Знайдіть виробників принтерів, які виробляють ПК з найменшим об'ємом RAM і найшвидшим процесором серед усіх ПК, що мають найменший об'єм RAM. Вивести: Maker
```MySQL
WITH pivot_table AS
(SELECT Product.maker, ram, speed, Product.type
FROM ((Product LEFT JOIN PC ON Product.model = PC.model) LEFT JOIN Printer ON Product.model = Printer.model))

SELECT DISTINCT maker
FROM pivot_table
WHERE speed = (SELECT MAX(speed) FROM pivot_table WHERE ram = (SELECT min(ram) FROM pivot_table)) and maker IN (SELECT maker FROM pivot_table WHERE type = 'Printer') and ram = (SELECT min(ram) FROM pivot_table)
```

##### 26 Знайдіть середню ціну ПК та ПК-блокнотів, випущених виробником A (латинська літера). Вивести: одна загальна середня ціна.
```MySQL
SELECT AVG(price)
FROM (SELECT price, model, speed, ram, hd
      FROM PC 
      WHERE model IN (SELECT model FROM Product WHERE maker='A' AND type ='PC')
      UNION
      SELECT price, model, speed, ram, hd
      FROM Laptop
      WHERE model IN (SELECT model FROM Product WHERE maker='A' AND type ='Laptop')) as p

```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

##### 27 Знайдіть середній розмір диска ПК кожного з виробників, які випускають і принтери. Вивести: maker, середній розмір HD.
# не проходить 2й тест
```MySQL
SELECT maker, AVG(hd)
FROM (SELECT maker, hd FROM PC JOIN Product ON  PC.model=Product.model WHERE maker IN (SELECT maker FROM Printer JOIN Product ON Printer.model=Product.model)) as t
GROUP BY maker

```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

##### 28  Використовуючи таблицю Product, визначити кількість виробників, що випускають за однією моделлю.
```MySQL
SELECT COUNT(*) as count 
FROM (SELECT count(model) as cnt
FROM Product
GROUP BY maker
HAVING count(model) = 1) as t
WHERE cnt=1
```

##### 29 У припущенні, що прихід та витрата грошей на кожному пункті прийому фіксується не частіше ніж один раз на день [тобто. первинний ключ (пункт, дата)], написати запит із вихідними даними (пункт, дата, прихід, витрата). Використовувати таблиці Income_o та Outcome_o.
```MySQL


```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

##### 30 В предположении, что приход и расход денег на каждом пункте приема фиксируется произвольное число раз (первичным ключом в таблицах является столбец code), требуется получить таблицу, в которой каждому пункту за каждую дату выполнения операций будет соответствовать одна строка.
Вывод: point, date, суммарный расход пункта за день (out), суммарный приход пункта за день (inc). Отсутствующие значения считать неопределенными (NULL).
```MySQL


```
```MySQL
FROM        WHERE        GROUP BY        HAVING        SELECT        ORDER BY
```

Коротка інформація про базу даних "Фірма вторсировини":

Фірма має кілька пунктів прийому вторинної сировини. Кожен пункт отримує гроші для їх видачі здавачам вторинної сировини. Відомості про отримання грошей на пунктах прийому записуються до таблиці:
Income_o(point, date, inc)
Первинним ключем є (point, date). У цьому стовпець date записується лише дата (без часу), тобто. Приймання грошей (inc) на кожному пункті проводиться не частіше одного разу на день. Відомості про видачу грошей здавачам вторинної сировини записуються в таблицю:
Outcome_o(point, date, out)
У цій таблиці також первинний ключ (point, date) гарантує звітність кожного пункту про видані гроші (out) не частіше ніж один раз на день.
У випадку, коли прихід та витрата грошей може фіксуватися кілька разів на день, використовується інша схема з таблицями, що мають первинний ключ code:
Income(code, point, date, inc)
Outcome(code, point, date, out)
Тут також значення стовпця date не містять часу.

##### 
```MySQL


```

##### 
```MySQL


```

##### 
```MySQL


```

##### 
```MySQL


```

##### 
```MySQL


```

##### 
```MySQL


```